APP_ENV=development

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=nextsi_auth
DB_USER=nextsi_user
DB_PASSWORD=nextsi_password

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=nextsi_auth
MYSQL_USER=nextsi_user
MYSQL_PASSWORD=nextsi_password

JWT_SECRET=nextsi_chave_dev
JWT_TTL_SECONDS=7200
