
/vendor/
composer.phar


.env
.env.*
!.env.example


/logs/
/cache/
*.log


.DS_Store
Thumbs.db
desktop.ini


.idea/
.vscode/
*.swp
*.swo

# Arquivos gerados
/public/generated/

# Exceção intencional: openapi.json versionado como fallback para avaliação
!/public/openapi.json


# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
